@{
    ViewBag.Title = "Disk";
}

<div class="row">
    <h1 class="mb-3">Disk</h1>
    <div class="container-fluid d-flex">
        @foreach (var directory in Model)
        {
            <div class="panel panel-default mr-3">
                <div class="panel-body"><img src="~/media/images/folder.png"/></div>
                <div class="panel-footer text-center">@directory.Name</div>
            </div>
        }
    </div>
</div>